* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.25fr;
    grid-template-areas: 
    "header header header"
    "bio repo repo"
    "footer footer footer";
}

.hero-banner {
    grid-area: header;
}

    .banner {
        height: auto;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


.grid-item-1 {
    color: white;
    background-color: rgb(238, 237, 237);
    justify-content: center;
    text-align: center;
    grid-area: bio;
}

    .avatar {
        vertical-align: middle;
        width: 60%;
        height: auto;
        border-radius: 15%;
        margin-top: -30%;
    }

    .card {
        background-color: lightgray;
        height: 25%;
        list-style: none;
    }

.grid-item-2 {
    color: white;
    grid-area: repo;
}

.footer {
    background-color: blueviolet;
    grid-area: footer;
    width: 100vw;
}

@media only screen and (max-width: 550px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "bio"
        "repo"
        "footer";
    }

    .avatar {
        vertical-align: middle;
        width: 25%;
        height: auto;
        border-radius: 15%;
        margin-top: -13%;
    }

}