* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: black;
}

.grid-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .2fr;
    grid-template-areas: 
    "header header header"
    "bio repo repo"
    "footer footer footer";
}

.hero-banner {
    grid-area: header;
}

    .banner {
        height: auto;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


.grid-item-1 {
    color: white;
    background-color: rgb(238, 237, 237);
    justify-content: center;
    text-align: center;
    grid-area: bio;
    background-image: url();
}

    .avatar {
        vertical-align: middle;
        width: 60%;
        height: auto;
        border-radius: 15%;
        margin-top: -30%;
    }

    .button-1,
    .button-2,
    .button-3,
    .button-4 {
        width: 40em;
        height: 5em;
        color: white;
        list-style: none;
        background-image: url(./images/output-onlinepngtools1.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        border: none;
    }

    .button-2 {
        background-image: url(./images/output-onlinepngtools2.png);
    }

    .button-3 {
        background-image: url(./images/output-onlinepngtools3.png);
    }

    .button-4 {
        background-image: url(./images/output-onlinepngtools4.png);
    }

    .modal_container {
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        opacity: 0;
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s ease;
        z-index: 99;
    }

        .modal__bio {
            display: grid;
            grid-template-columns: .2fr .1fr .5fr;
            grid-template-rows: .2fr .2fr 2fr 1fr;
            grid-template-areas: 
            "a b b"
            "a c d"
            "a e f"
            "a g h";
            justify-content: center;
            background-color:rgb(238, 237, 237);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 10);
            text-align: center;
            color: black;
            width: 80vw;
        }

            .modal__bio-image {
                grid-area: a;
                height: 70vh;
                width: auto;
                padding:1rem;
            }

            .modal__bio-header {
                position: relative;
                grid-area: b;
            }

            .modal__bio-name {
                grid-area: b;
                font-size: x-large;
                padding: 2em;
            }

            .modal__bio-button {
                position: absolute;
                top: .5rem;
                right: .5rem;
                text-decoration: none;
                font-size: x-large;
                border: none;
            }

            .modal__bio-origin {
                grid-area: c;
            }

            .modal__bio-country {
                grid-area: d;
            }

            .modal__bio-bio {
                grid-area: e;
            }

            .modal__bio-text {
                grid-area: f;
            }

            .modal__bio-contact {
                grid-area: g;
            }

            .modal__bio-link {
                grid-area: h;
            }

        .modal__resume {
            display: grid;
            justify-content: center;
            background-color:rgb(238, 237, 237);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 10);
            text-align: center;
            color: black;
        }

        .modal__resume-header {
            position: relative;
        }

        .modal__resume-image {
            height: 75vh;
            width: auto;
            padding:2rem;
        }

        .modal__resume-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            text-decoration: none;
            font-size: x-large;
            border: none;
        }

        .modal__award {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: .2fr .1fr 3fr;
            grid-template-areas: 
            "a a"
            "b b"
            "c d";
            justify-content: center;
            background-color:rgb(238, 237, 237);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 10);
            text-align: center;
            color: black;
        }

        .modal__award-header {
            position: relative;
            grid-area: a;
        }

        .modal__award-link {
            grid-area: b;
        }

        .modal__award-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            text-decoration: none;
            font-size: x-large;
            border: none;
        }

        .modal__award-page-1 {
            grid-area: c;
            height: auto;
            width: 30vw;
            padding:1rem;
        }

        .modal__award-page-2 {
            grid-area: d;
            height: auto;
            width: 30vw;
            padding:1rem;
        }

        .bio-pic {
            height: auto;
            width: 25%;
            max-width: 100%;
            border-radius: 3px;
            padding: 25px;
            border-right: solid rgb(199, 199, 199) 1px;
        }
        
        .modal_container.show {
            pointer-events: auto;
            opacity: 1;
        }

        .witb-pic {
            padding: 50px;
            border-right: solid rgb(199, 199, 199) 1px;
        }

        .club-list ul {
            list-style-type: none;
            text-align: left;
        }

.grid-item-2 {
    color: white;
    grid-area: repo;
    position: relative;
    text-align: center;
    overflow: hidden;
}

    .carousel {
        position: absolute;
        height: auto;
        width: 100%;
        margin: 0;
    }

    .carousel__track-container {
        position: relative;
    }

    .carousel__track {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 250ms ease-in;
    }

    .carousel__slide {
        position: absolute;
        top:0;
        bottom:0;
        width:100%;
    }

    .carousel__slide img {
        width: 72%;
        margin-top: 10px;
    }

    .carousel__button {
        position: absolute;
        background: transparent;
        border: 0;
        cursor: pointer;
    }

    .carousel__button--left {
        left: 10%;
    }

    .carousel__button--right {
        right: 10%;
    }

    .carousel__button img {
        width: 25px;
    }

    .is-hidden { 
        display: none;
    }

.footer {
    background: linear-gradient( rgb(0, 0, 0), rgb(100, 100, 100));
    grid-area: footer;
    width: 100vw;
    color: white;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
}

    .avatar2 {
        vertical-align: middle;
        width: 3rem;
        height: auto;
        border-radius: 50%;
    }

    .footer-list {
        display: inline-flex;
        list-style: none;
    }

@media only screen and (max-width: 1100px) {
    .grid-container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 3fr .5fr;
        grid-template-areas: 
        "header"
        "bio"
        "repo"
        "footer";
    }

    .avatar {
        vertical-align: middle;
        width: 25%;
        height: auto;
        border-radius: 15%;
        margin-top: -8%;
    }

    .button {
        width: 14em;
        height:auto;
        border-radius: 10px;
        margin-top: 5px;
    }

    .button-1,
    .button-2,
    .button-3,
    .button-4 {
        height: 1em;
        width: 20em;
        margin-top: 4%;
    }

    .modal__resume-image {
        height: 50vh;
        width: auto;
        padding:2rem;
    }

    .modal__award {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .1fr 2fr 2fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        justify-content: center;
        background-color:rgb(238, 237, 237);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 10);
        text-align: center;
        color: black;
    }

    

    .modal__bio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr .1fr .1fr .1fr .1fr 1fr .1fr 0fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f" 
        "g"
        "h";
        justify-content: center;
        background-color:rgb(238, 237, 237);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 10);
        text-align: center;
        color: black;
        height: 70vh;
    }

        .modal__bio-image {
            grid-area: a;
            display: none;
        }

        .modal__bio-header {
            position: relative;
            grid-area: b;
        }

        .modal__bio-name {
            grid-area: b;
            font-size: medium;
            padding: .5em;
        }

        .modal__bio-button {
            position: absolute;
            top: .25rem;
            right: .25rem;
            text-decoration: none;
            font-size: x-large;
            border: none;
        }

        .modal__bio-origin {
            grid-area: c;
        }

        .modal__bio-country {
            grid-area: d;
        }

        .modal__bio-bio {
            grid-area: e;
            height: 1%;
        }

        .modal__bio-text {
            grid-area: f;
            font-size: x-small;
        }

        .modal__bio-contact {
            grid-area: g;
        }

        .modal__bio-link {
            grid-area: h;
            font-size: x-small;
        }

    .footer {
        font-size: small;
    }

    .avatar2 {
        width: 1em;
    }
}